@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class=" jumbotron">
    <h1>Permaculture</h1>
    @*<p>
        <input type="text" id="MyDate" />
    </p>*@

</div>




