@{
    ViewBag.Title = "Permaculture_Animals_Module";
}

@*<h2>Main Menu</h2>*@
@*<p>@Html.ActionLink("Manage Animal","Index","tblAnimals")</p><p>@Html.ActionLink("Manage Breed", "Index", "tblBreeds")</p><p>@Html.ActionLink("Manage Species", "Index", "tblSpecies")</p><p>@Html.ActionLink("Manage Diseases", "Index", "tblDisease")</p>*@


<h1> Hello User Welcome To Animals Website</h1>
<p></p>
<p></p>
<div class="row">
    <div class="col-md-6">
        <p></p>
        <p><img src="~/Images/A (1).jpg" alt="Permaculture Photo" /></p>
    </div>  
    <div class="col-md-">
        <p></p>
        <p><img src="~/Images/A (3).jpg" alt="Permaculture Photo" /></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p></p>
        <p><img src="~/Images/Hen.jpg" alt="Permaculture Photo" /></p>
    </div>
    <div class="col-md-">
        <p></p>
        <p><img src="~/Images/A (4).jpg" alt="Permaculture Photo" /></p>
    </div>
</div>



